/* Light mode por defecto*/

/*Cuerpo del sitio web*/

body {
    background-color: rgb(49, 162, 222);
    position: relative
}

/*Imagenes de los personajes*/
#foto1 {
    background-color: rgb(90, 144, 242);
    position: absolute;
    border: 5px solid rgba(255, 163, 87, 0.685);
    right: 1350px;
    top: 680px;
    background-image: url(n1.jpg);
    background-size: cover;
    display: flex;
}

#foto2 {
    background-color: rgb(90, 144, 242);
    position: absolute;
    border: 5px solid rgba(255, 163, 87, 0.685);
    right: 950px;
    top: 680px;
    background-image: url(n2.jpg);
    background-size: cover;
    display: flex;
}

#foto3 {
    background-color: rgb(90, 144, 242);
    position: absolute;
    border: 5px solid rgba(255, 163, 87, 0.685);
    right: 550px;
    top: 680px;
    background-image: url(n3.jpg);
    background-size: cover;
    display: flex;
}

#foto4 {
    background-color: rgb(90, 144, 242);
    position: absolute;
    border: 5px solid rgba(255, 163, 87, 0.685);
    right: 150px;
    top: 680px;
    background-image: url(n4.jpg);
    background-size: cover;
    display: flex;
}

/*Label de titulos y subtitulos*/

.title {
    color: rgb(239, 242, 255);
    font-weight: bold;
    margin-bottom: 20px;
    align-items: center;
    position: absolute;
    display: flex;
}

#titulo {
    top: 10px;
    right: 50px;
    font-size: 56px;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 1755px;
    border-radius: 30px;
}

#subtitulo1 {
    top: 140px;
    right: 435px;
    font-size: 32px;
    width: 970px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: sans-serif;
    border-radius: 30px;
}

/*Botones + sus imagenes*/

.button {
    color: rgba(255, 255, 255, 0);
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display:flexbox;
    font-size: 16px;
    border-radius:50%;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(255, 112, 112);
    position: relative;
    display: flex;
}

#esfera1 {
    top: 200px;
    right: 1670px;
    background-image: url(esf1.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
}

#esfera2 {
    top: 200px;
    right: 1270px;
    background-image: url(esf2.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
}

#esfera3 {
    top: 200px;
    right: 870px;
    background-image: url(esf3.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
}

#esfera4 {
    top: 200px;
    right: 470px;
    background-image: url(esf4.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    display: flex;
}

/*Gráficos*/

#barchart {
    position:absolute;
    top: 220px;
    right: 1350px;
    display: flex;
    border: 5px solid rgba(255, 163, 87, 0.685);
}

#barchart1 {
    position:absolute;
    top: 220px;
    right: 950px;
    display: flex;
    border: 5px solid rgba(255, 163, 87, 0.685);
}

#barchart2 {
    position:absolute;
    top: 220px;
    right: 550px;
    display: flex;
    border: 5px solid rgba(255, 163, 87, 0.685);
}

#barchart3 {
    position:absolute;
    top: 220px;
    right: 150px;
    display: flex;
    border: 5px solid rgba(255, 163, 87, 0.685);
}